.trip__details__down,
.trip__details__up {
  cursor: pointer;

  &:after {
    background: url('/img/arrow_details.png') no-repeat;
    content: '';
    width: 10px;
    height: 6px;
    display: inline-block;
    margin: -2px 0 0 3px;
    vertical-align: middle;
  }
}

.trip__details__up:after {
  transform: scale(1, -1);
}