.results {
  .loading {
    font-size: 40px;
    font-weight: 100;
    margin-top: 30vh;
    margin-bottom: 32vh;
  }

  .arrow-down:after,
  .arrow-up:after {
    content: '';
    width: 8px;
    height: 5px;
    display: inline-block;
    background: url('/img/arrow.png') no-repeat;
    position: relative;
    left: 5px;
    bottom: 3px;
  }

  .arrow-up:after {
    transform: scale(1, -1);
  }

  .return {
    margin: 20px;
    border: 1px dashed;

    h4 {
      font-size: 18px;
      font-weight: 500;
    }

    p {
      font-size: 16px;
      font-weight: 300;
    }
  }

  .station {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 18px;
    font-weight: 500;

    &:before {
      content: '';
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 2px solid #66bb6a;
      display: inline-block;
      margin-right: 25px;
      vertical-align: text-bottom;
    }
  }

  .station__name {
    border-left: 1px solid #d7d7d7;
    padding-bottom: 13px;
    margin-left: 7px;
    margin-top: 3px;
    margin-bottom: 0;
    padding-left: 35px;
    font-weight: 300;
    font-size: 16px;

    &.last {
      border: none;
    }
  }

  .label,
  .station__change__label {
    font-size: 14px;
    font-weight: 500;
  }

  .label {
    margin-top: 5px;
  }

  .station__change {
    p {
      font-size: 18px;
      font-weight: 300;

      span {
        font-weight: 500;
      }
    }

    p.station__change__time {
      margin-bottom: 0;
      margin-top: 0;
    }

    p.station__change__name {
      margin-top: 0;
    }
  }

  .station__change__label {
    margin-top: 12px;
  }

  p.race-name {
    margin: 0;

    span {
      font-weight: 500;
    }
  }

  .trip__nextday {
    text-align: center;

    a {
      cursor: pointer;
      text-decoration: none;
    }
  }

  p.trip__change {
    margin-top: 0;
  }

  hr {
    margin-bottom: 0;
    margin-top: 0;
  }

  .trip__progress {
    text-align: center;
    margin: 50px;
  }

  .fa-filter {
    font-size: 13px;
    position: relative;
    left: 4px;
    top: -2px;
    color: #808080;
  }

  .my-filter-on {
    color: #f84444;
  }

  .trip__discount {
    height: 50px;
    width: 50px;
    font-size: 16px;
    text-align: center;
    padding-top: 13px;
    margin-left: -5px;
    margin-top: 21px;
    background-color: #f84444 !important;
    color: #fff !important;
  }

  .details__buy {
    padding-bottom: 25px;

    p {
      font-weight: 500;
      font-size: 18px;
      color: #66bb6a;
    }

    .buy-button {
      margin-top: 10px;
    }
  }
}

.trip__notfound {
  text-align: center;
}

@media screen and (max-width: 991px) {
  .results {
    margin-bottom: 26px;

    .results__tripshead {
      display: none;
    }

    .trip__nextday {
      font-size: 14px;
      font-weight: 500;
    }

    .trip__discount {
      display: none !important;
    }
  }

  .station__change:before {
    left: -5px;
    top: 7px;
  }

  .trip__notfound {
    font-size: 14px;
    font-weight: 500;
    margin-top: 40px;
  }

  .station__change:before {
    left: 0px;
    top: 7px;
    content: '';
    vertical-align: bottom;
    width: 40px;
    height: 15px;
    background: url('/img/change_bus-mobile.png') no-repeat center center;
    float: left;
    margin-right: 10px;
    position: relative;
  }

  .stations-list {
    padding-left: 10px;
  }
}

@media screen and (min-width: 992px) {
  .results {
    margin: 0 auto 45px auto;

    .trip__nextday {
      font-size: 22px;
      font-weight: 300;
    }

    .trip__progress {
      margin: 152px;
    }
  }

  .trip__notfound {
    font-size: 48px;
    font-weight: 100;
    margin-top: 102px;
  }

  .results div.results__tripshead {
    margin-top: 50px;

    p {
      font-size: 18px;
      font-weight: 300;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
  .station__change:before {
    left: -30px;
    top: 7px;
    content: '';
    vertical-align: bottom;
    width: 80px;
    height: 30px;
    background: url('/img/change_bus.png') no-repeat center center;
    float: left;
    position: relative;
  }

  .station__change {
    p {
      font-size: 18px;
      font-weight: 300;

      span {
        font-weight: 500;
      }
    }
  }
}
